# Folders
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
SDKs
Sites
VirtualBox VMs/
Workspace

# Artifacts
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash
.irb-history
.mcli
.mkvtoolnix
.serverauth.8101
.sh_history
.vmc_instances
.vmc_target
.vmc_token
.zcompdump
.zsh-update
.zsh_history
.ypp*

# Application Data
.Xauthority
.adobe
.android
.bash_history
.cheat
.config
.cups
.dropbox
.dvdcss
.fontconfig
.gem
.gitconfig
.gitk
.gtk-bookmarks
.gvimrc
.inkscape-etc
.npm
.nvm
.oh-my-zsh/README.textile
.oh-my-zsh/lib
.oh-my-zsh/custom
.oh-my-zsh/log
.oh-my-zsh/oh-my-zsh.sh
.oh-my-zsh/plugins
.oh-my-zsh/templates
.oh-my-zsh/tools
.oh-my-zsh/themes/*
.oh-my-zsh/*
!.oh-my-zsh/themes/morph.zsh-theme
.project_aliases
.psql_history
.rdebug_hist
.recently-used.xbel
.redcar
.rediscli_history
.ri
.rush
.rvm
.ssh
.ssl
.subversion
.vim
.viminfo
.vimrc
.vimrc.old
