[user]
	name = Nelvin Driz
	email = nelvindriz@live.com
[commit]
	template = ~/.git_templates/git-commit-template.default
[alias]
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
[credential]
	helper = osxkeychain
