# Folders
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
SDKs
Sites
VirtualBox VMs/
Workspace
DOS Games
Vagrant

# Artifacts
.fonts
.vagrant
.vagrant.d
.pip
.rbx
.gitignore_global
.hgignore_global
.hgrc
.mysql_history
.synergy.conf
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash
.irb-history
.mcli
.strobe
.lesshst
.mkvtoolnix
.pow
.pry_history
.serverauth.8101
.sh_history
.vmc_instances
.vmc_target
.vmc_token
.zcompdump
.zsh-update
.zsh_history
.ypp*
.cache

# Application Data
.Xauthority
.adobe
.android
.bash_history
.cheat
.codeintel
.config
.cups
.DBUserDefaults
.dropbox
.dvdcss
.fontconfig
.gem
.gitk
.gtk-bookmarks
.gvimrc
.inkscape-etc
.npm
.nvm
.oh-my-zsh/README.textile
.oh-my-zsh/lib
.oh-my-zsh/custom
.oh-my-zsh/log
.oh-my-zsh/oh-my-zsh.sh
.oh-my-zsh/plugins
.oh-my-zsh/templates
.oh-my-zsh/tools
.oh-my-zsh/themes/*
.oh-my-zsh/*
!.oh-my-zsh/themes/morph.zsh-theme
.project_aliases
.psql_history
.rdebug_hist
.recently-used.xbel
.redcar
.rediscli_history
.ri
.rush
.rvm
.rvmrc
.ssh
.ssl
.subversion
.vim
.viminfo
.vimrc
.vimrc.old
.vim-cache
