[user]
	name = Nelvin Driz
	email = iam@nelv.in
[commit]
	template = ~/.git-templates/git-commit-template.default
[alias]
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
  lo = log --online --decorate
  st = status -sb
  psr = !sh -c 'git push --set-upstream $0 $1'
  cco = !sh -c 'git name-rev --name-only $0'
  coco = !sh -c 'git branch -a --contains $0'
  cmpb = !sh -c 'git cherry -v $0'
	alias = config --get-regexp 'alias.*'
  latest-tag = !git tag | tail -1
  release-commits = !git shortlog --pretty=format:\"%h %s\" --no-merges $(git latest-tag)..master
  release-diff = !git diff $(git latest-tag)..master
  clean-branches = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[color]
	diff = auto
	interactive = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = tracking
[credential]
	helper = cache --timeout=3600
[http]
	postBuffer = 524288000
[giggle]
	main-window-maximized = false
	main-window-geometry = 700x848+214+320
	main-window-view = FileView
[init]
	templatedir = ~/.git-templates
[tag]
	sort = version:refname
